<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
 
</style>
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. What is the first element of the periodic table?</p>
  		<input type="radio" name="q1" value="B">B<br>
  		<input type="radio" name="q1" value="He">He<br>
  		<input type="radio" name="q1" value="H">H<br>
  		<input type="radio" name="q1" value="Mg">Mg<br>
  	<p>2. Ask Qustion 2 here.</p>
  		<input type="radio" name="q2" value="q2a1">Question2 Answer 1<br>
  		<input type="radio" name="q2" value="q2a2">Question2 Answer 2<br>
  		<input type="radio" name="q2" value="q2a3">Question2 Answer 3<br>
  		<input type="radio" name="q2" value="q2a4">Question2 Answer 4<br>
  	<p>3. Ask Qustion 3 here.</p>
  		<input type="radio" name="q3" value="q3a1">Question3 Answer 1<br>
  		<input type="radio" name="q3" value="q3a2">Question3 Answer 2<br>
  		<input type="radio" name="q3" value="q3a3">Question3 Answer 3<br>
  		<input type="radio" name="q3" value="q3a4">Question3 Answer 4<br>
  	<. Ask Qustion 4 here.</p>
  		<input type="radio" name="q4" value="q4a1">Question4 Answer 1<br>
  		<input type="radio" name="q4" value="q4a2">Question4 Answer 2<br>
  		<input type="radio" name="q4" value="q4a3">Question4 Answer 3<br>
  		<input type="radio" name="q4" value="q4a4">Question4 Answer 4<br>
  	<p>5. Ask Qustion 5 here.</p>
  		<input type="radio" name="q5" value="q5a1">Question5 Answer 1<br>
  		<input type="radio" name="q5" value="q5a2">Question5 Answer 2<br>
  		<input type="radio" name="q5" value="q5a3">Question5 Answer 3<br>
  		<input type="radio" name="q5" value="q5a4">Question5 Answer 4<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

